body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;;
}

main{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 150px 100px 100px 100px 100px 100px;
    margin-top: 120px;
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.37);
    background-color: black;
    
}

.casa{
    border: 1px solid;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 100px; 
    border-radius: 55px;
    box-shadow: 3px 3px rgba(119, 114, 114, 0.479);
}

#visor {
    grid-column: 1/ span 4;
    font-size: 50px;
    text-align: center; 
    line-height: 150px; 
    border-radius: 7px;
    box-shadow: 3px 3px rgba(119, 114, 114, 0.479);
    color: white;
    border: 1px solid white;
}

#numero0 {
    grid-column: 1/ span 2;
}
#sinalDivi, #sinalMult, #sinalSub, #sinalAdi, #sinalIgual {
    background-color: rgb(255, 115, 0);
} 

.numero, #sinalVirg{
    background-color: rgb(51, 51, 51);
}
#sinalC, #sinalRaiz, #sinalPorcent{
    background-color: rgb(150, 144, 144)
}